@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@800;900&display=swap');
body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #222222;
    color: white;
    margin-top: 15vh;
}

.header {
    padding: 10px 16px;
    background: #111111;
    color: #f1f1f1;
    text-align: center;
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
}
.header a{
    color: white;
    text-decoration: none;
    font-size: 3vh;
    margin: 40px;
    font-weight: bolder;
}
.container {
    position: relative;
    display: inline-block;
    width: 45vw;
    margin: 10px;
}
.innerimage {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 25px;
    outline: 3px white solid;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.container:hover .innerimage {
    opacity: 0.3;
}
.container:hover .middle {
    opacity: 1;
}
.text a{
    text-decoration: none;
    background-color: #222222;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    display: inline-block;
    margin: 10px;
}