@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	background-color: #121212;
	color: #ffffff;
	font-family: 'Rubik', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	overflow-x: hidden;
}

.roboto-slab-text {
	font-family: 'Roboto Slab', serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.rubik-text {
	font-family: 'Rubik', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.text-shadow {
	text-shadow: #000000 0.1rem 0.1rem 10px;
}

.text-outline {
	text-shadow:
		3px 3px 0#000,
		-3px 3px 0 #000,
		-3px -3px 0 #000,
		0px 3px 0 #000,
		0px -3px 0 #000,
		3px 0px 0 #000,
		-3px 0px 0 #000,
		3px -3px 0 #000;
}

.gradient-bg {
	background: rgb(23, 23, 23);
	background: linear-gradient(180deg, rgba(23, 23, 23, 1) 0%, rgba(5, 2, 7, 1) 100%);
}

* {
	scrollbar-width: auto;
	scrollbar-color: #000000 rgba(0, 0, 0, 0);
}
*::-webkit-scrollbar {
	width: 16px;
}
*::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0);
}
*::-webkit-scrollbar-thumb {
	background-color: #000000;
	border-radius: 10px;
	border: 3px solid #121212;
}
